1.0.1 1
Explain with examples the similiarities and differences between:
• Int and String
• Int and Float
• List and Tuples and Set

• Int and String: they are both immutable and the operations "+" and "*" work on them - though in different ways: ints actually get added/multiplied, but strings get concatinated. Also "-" and "/" dont work on strings

In [12]:
int1 = 2
int2 = 5
print(int1+int2)
print(int2*7) 

str1 = "hello"
str2 = "world"
print(str1 + " " +str2)
print(str1*5) 

str3 = "4"
str4 = "6"
print(str3 + str4)
print(str4*3)

7
35
hello world
hellohellohellohellohello
46
666

• Int and Float: Both are types of numbers. All operations "+, -, *, /" work on them (though int might become a float). one can also combine them, but python will convert int to float and the result will always be a float. Any int can be converted into a float without loss of informatiin, but not the other way around.

In [19]:
int3 = 4
int4 = 7
float1 = 2.5
float2 = 6.4

print(int3*float1)
print(type(int3*float1))

print(int3 == float(int3))
print(float2 == int(float2))
print(int(float2))
print(type(int4/int3))

10.0
<class 'float'>
True
False
6
<class 'float'>

• List and Tuples and Set: all can hold a variety of different types. But lists and sets are mutable, tuples arent. But lists and tuples have an order, sets dont. And there are no dubbles in sets.

In [32]:
list1 = [2, 4.5, "hello", 2]
tuple1 = (2, 4.5, "hello", 2)
set1 = {2, 4.5, "hello", 2}

print(list1)
print(tuple1)
print(set1)

print(set(list1))

list1.append(5)
print(list1)
#print(tuple1.append(5)) this doesnt work
#print(set1.append(5))  this doesnt work

print(list1[:2])
print(tuple1[:2])
#print(set1[:2])  this doesnt work

[2, 4.5, 'hello', 2]
(2, 4.5, 'hello', 2)
{2, 4.5, 'hello'}
{2, 4.5, 'hello'}
[2, 4.5, 'hello', 2, 5]
[2, 4.5]
(2, 4.5)

Create a script that prints the numbers from 1 to 100, following these rules:
1. if number is even, print “Fizz” instead of it.
2. if number is a multiple of 10 (e.g. 10, 20, 30, …), print “Bizz” instead of it
So, your output should start with: 1, Fizz, 3, Fizz, 5, Fizz, 7, Fizz, 9, Bizz, 11, Fizz, 13, Fizz, …

In [37]:
for x in range(1, 101):
    if x%10==0:
        print("Bizz")
    elif x%2==0:
        print("Fizz")
    else:
        print(x)

1
Fizz
3
Fizz
5
Fizz
7
Fizz
9
Bizz
11
Fizz
13
Fizz
15
Fizz
17
Fizz
19
Bizz
21
Fizz
23
Fizz
25
Fizz
27
Fizz
29
Bizz
31
Fizz
33
Fizz
35
Fizz
37
Fizz
39
Bizz
41
Fizz
43
Fizz
45
Fizz
47
Fizz
49
Bizz
51
Fizz
53
Fizz
55
Fizz
57
Fizz
59
Bizz
61
Fizz
63
Fizz
65
Fizz
67
Fizz
69
Bizz
71
Fizz
73
Fizz
75
Fizz
77
Fizz
79
Bizz
81
Fizz
83
Fizz
85
Fizz
87
Fizz
89
Bizz
91
Fizz
93
Fizz
95
Fizz
97
Fizz
99
Bizz

Given the list:
[1]: list1 = [1, 2, 3, '4', 5, 6.3, 7.4,"123", [1,2,3], 93, "98"]
Print each element of a list. Follow these rules:
1. If this element is numeric or a string, just print its representational value;
2. If the element is a container but not a string (tuple, list, dict, set; Hint: you can check the
type of the variable with type() function), print each element of the sequence.

In [34]:
list1 = [1, 2, 3, '4', 5, 6.3, 7.4,"123", [1,2,3], 93, "98"]

for element in list1:
    if type(element) == str or type(element) == int or type(element) == float:
        print(element)
    else:
        for x in element:
            print(x)

1
2
3
4
5
6.3
7.4
123
1
2
3
93
98

What films have you watched in 2023? Build your own film collection! The following
details may be interesting:
• film title
• film director
• release year
• imdb rating
• your personal rating
• …
How will you store these data?

Nice idea, but I don't really watch movies. Hence I will make up my own. 

How will you store these data? In a pandas data frame

In [6]:
import pandas as pd
df = pd.DataFrame([['A cat named Oida', 'Jona Hassenbach', 2020, 4.2, 9], 
                        ['Return of Oida', 'Jona Hassenbach', 2021, 3.6, 9], 
                        ['Oida rises again', 'Jona Hassenbach', 2022, 2.3, 9.6], 
                        ['You will never Oida alone', 'Jona Hassenbach', 2023, 3.8, 10]])
df.columns = ['film title', 'film director', 'release year', 'imdb rating', 'personal rating']
df

,film title,film director,release year,imdb rating,personal rating
0,A cat named Oida,Jona Hassenbach,2020,4.2,9.0
1,Return of Oida,Jona Hassenbach,2021,3.6,9.0
2,Oida rises again,Jona Hassenbach,2022,2.3,9.6
3,You will never Oida alone,Jona Hassenbach,2023,3.8,10.0